{% extends "base_with_sign.html" %}

{% block style %}
    <style>
        table {
            border-spacing: 0;
            text-align: center;
            font-family: 'Lucida Sans Unicode', sans-serif;
            font-size: 14px;
        }
        td {
            background: whitesmoke;
        }
        th {
            color: white;
            background: #373332;
        }
        th:first-child {
            border-top-left-radius: 7px;
        }
        th:last-child {
            border-top-right-radius: 7px;
        }
        tr:last-child td:first-child {
            border-radius: 0 0 0 7px;
        }
        tr:last-child td:last-child {
            border-radius: 0 0 7px 0;
        }
        p {
            margin: 10px 0;
        }
        .sea_battle_logo {
            position: absolute;
            left: 50%;
            top: 100px;
            margin-left: -250px;
        }
        .start_game_button {
            width: 260px;
            height: 55px;
            position: absolute;
            left: 50%;
            top: 500px;
            margin-left: -130px;
            border: 1px solid black;
            border-radius: 10px;
            background: #373332;
            cursor: pointer;
        }
        .leaderboard_block {
            position: absolute;
            left: 50%;
            top: 650px;
            margin-left: -175px;
            cursor: default;
        }
        .start_game_block {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(102, 102, 102, 0.7);
            z-index: 2000;
        }
        .start_game_bg_info_block {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -250px;
            margin-top: -190px;
            opacity: 0.95;
        }
        .start_game_info {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -200px;
            margin-top: -150px;
        }
        .start_game_buttons {
            width: 220px;
            height: 45px;
            border: 1px solid black;
            border-radius: 10px;
            background: #373332;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    {% load static %}

    <img class="sea_battle_logo" src="{% static 'pic.logo.png' %}" alt="" width="500px">

    <form method="POST" action="{% url 'home_page' %}">
        {% csrf_token %}
        <button class="start_game_button" name="start_game" value="1">
            <img src="{% static 'title.start_game.png' %}" alt="Start Game" width="220px">
        </button>
    </form>

    {% if leaderboard %}
        <div class="leaderboard_block">
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in leaderboard %}
                        <tr>
                            <td style="width: 50px;">
                                {{ game.rank }}
                            </td>
                            <td style="width: 200px;">
                                {% if game.user %}
                                    <a href="{% url 'account_page' game.username %}">
                                        {{ game.username }}
                                    </a>
                                {% else %}
                                    {{ game.username }}
                                {% endif %}
                            </td>
                            <td style="width: 100px;">
                                {{ game.points }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if new_game_flag %}
        <div class="start_game_block">
            <img class="start_game_bg_info_block" src="{% static 'bg.info.png' %}" alt="" width="500px">

            <img class="start_game_info" src="{% static 'title.info_1.png' %}" alt="" width="400px">

            <div class="start_game_info" style="margin-left: -110px; margin-top: 10px;">
                <form method="POST" action="{% url 'home_page' %}">
                    {% csrf_token %}
                    <button class="start_game_buttons" name="continue_game" value="new_game" >
                        <img src="{% static 'title.new_game.png' %}" alt="New Game" height="35px">
                    </button>
                    <p>
                    <button class="start_game_buttons" name="continue_game" value="continue" >
                        <img src="{% static 'title.continue.png' %}" alt="Continue" height="35px">
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}